html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto";
}

.background {
  background: url(../images/bg.jpg) center no-repeat;
  background-size: cover;
  min-height: 100%;
  padding-top: 30px;
  height: 1200px;
}
.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  justify-content: row;
  gap: 35px;
  font-size: 17px;
  color: #fff;
  letter-spacing: 0.17px;
}

.menu__list-link_btn {
  color: #2c313a;
  letter-spacing: 0.16px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 10px 20px;
}
.intro__inner {
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 522px;
  margin: 0 auto;
}
.intro__title {
  font-weight: 400;
  font-size: 46px;
  letter-spacing: 0.46px;
  color: #ffffff;
  text-align: center;
}

.intro__text {
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  text-align: center;
  font-size: 22px;
  letter-spacing: 0.22px;
}

.intro__btn {
  display: flex;
  flex-direction: row;
  gap: 17px;
  font-size: 18px;
  letter-spacing: 0.18px;
  color: #ffffff;
  background: #965cff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 10px 15px;
}

.companies {
  background-color: #0a0a0a;
}

.companies__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 280px;
  align-items: center;
}

.summary__inner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 100px 100px 0 100px;
}

.summary__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.summary__info-title {
  font-weight: 400;
  font-size: 32px;
  color: #252b3b;
  max-width: 370px;
}

.summary__info-text {
  max-width: 480px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.18px;
  color: #252b3b;
}

.summary__info-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.summary__info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.footer {
  background-color: black;
}

.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px 0;
}

.footer__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__form-input {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 70px;
}

.footer__form-text {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.footer__form-email {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer__form-email_input {
  background: #252525;
  border-radius: 12px;
  padding: 15px 76px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  border: none;
}

.footer__form-email_input::placeholder {
  text-align: center;
}

.footer__form-email_btn {
  background: #975cff;
  border-radius: 12px;
  padding: 15px 25px;
  font-weight: 400;
  font-size: 15px;
}

.footer__form-madeby {
  color: #fff;
  font-weight: 400;
  font-size: 13px;
}

.footer__form-madeby_purple {
  color: #975cff;
}

.footer__pages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__pages-menu {
  display: flex;
  flex-direction: row;
  gap: 35px;
  color: #fff;
  font-size: 16px;
}
.footer__pages-font {
  color: #545454;
  font-size: 13px;
  font-weight: 400;
}
